 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="white">About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div>
                    <p>非専攻者ですが、プログラミング就職教育を受けながら働くようになったプログラマーです。 自分でも足りないと思い、いつも勉強しています。 ビッグデータの処理と活用などに関心があります。 実際にAWSでビッグデータ活用業務のサポートを担当したことがありますが、非常に興味深く、面白くプロジェクトを進めました。 現在もAWSなどのクラウドカンファレンスは聴講して学んでいます。</p>
                </div>
                <br>
                <br>
                <div>
                    <p>日本IT実務の経験が2年あり、主に社内ウェブアプリケーション開発業務を担当しました。 現在は韓国に帰っていろんな資格証を取ったり個人勉強に熱中しています。 個人の勉強は、主にWebページ制作、pythonのopencv、データクローリング、マシンラーニングを勉強しています。 そして、現在はAWS活用ITチームで働きながらAWS勉強をしています。 TechBlogであるvelogも運営しています。 ありがたいです。</p>
                </div>
                <br>
                <br>
                <h3>Certification</h3>
                <table class="table table-hover table-bottom">
                    <thead>
                      <tr>
                        <th scope="col">資格証</th>
                        <th scope="col">内容</th>
                        <th scope="col">取得日</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Azure Fundamentals</td>
                        <td>Microsoft Certification</td>
                        <td>2021.04</td>
                      </tr>
                      <tr>
                        <td>情報処理技士</td>
                        <td>Applied Information Technology Engineer	</td>
                        <td>2020.08</td>
                      </tr>
                      <tr>
                        <td>OCJP</td>
                        <td>Oracle Certified Professional, Java SE 6 Programmer</td>
                        <td>2018.02</td>
                      </tr>
                      <tr>
                        <td>TOEIC</td>
                        <td>640</td>
                        <td>2020.09</td>
                      </tr>
                      <tr>
                        <td>JLPT 二級</td>
                        <td>Japanese Language Proficiency Test</td>
                        <td>2018.01</td>
                      </tr>
                    </tbody>
                  </table>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://velog.io/@rssungjae" class="btn btn-lg btn-outline">
                        <i class="fa fa-arrow-right"></i> TechBlog
                    </a>
                </div>
            </div>
        </div>
    </section>
